<div class="container">

  <div class="image-block">
    <img src="assets/images/about.png" alt="main img">
  </div>

  <div class="content">
    <div class="center-block">
      <h2>чай</h2>
      <p>напиток получаемый варкой, завариванием и/или настаиваникм чайного куста</p>
      <button class="button" mat-raised-button>перейти в каталог</button>
    </div>
  </div>

  <div class="about-us">
    <h1>заголовок 1</h1>
    <div class="about-block" >
      <p>мы — компания «Алтайвита» и нам уже 10 лет!</p>
      <p>мы живем и работаем в Алтайском крае в городе Барнауле, где с 2012 года создаём и продаём продукты на основе дикорастущих алтайских трав и натуральные товары для здоровья. У нас собственный фасовочный цех, склад, контакт-центр, а главное, отличная команда сотрудников.</p>
      <p>в нашем ассортименте уже более 250 товаров собственной марки, и мы продолжаем создавать новые. Наша компания с большой ответственностью и любовью относится к своей работе, и как результат, мы получаем огромное количество добрых отзывов о продукции и работе интернет-магазина.</p>
    </div>
  </div>

</div>
